.about-us-container {
    background-color: #eee;
    padding: 25px 0px;
    .about-us {
        width: 90%;
        margin: auto;
        .about-us-title {
            text-align: center;
            font-family: inherit;
            margin-bottom: 30px;
        }
        .about-us-content {
            .about-us-right {
                .about-us-right-collapse {
                    .about-us-right-collapse-item {
                        button {
                            background: #d6d6d6;
                            width: 100%;
                            text-align: left;
                            border-color: #d6d6d6;
                            color: #4e4e4e;
                            font-weight: bold;
                            &:focus {
                                outline: unset;
                                box-shadow: unset;
                                border-color: #d6d6d6;
                            }
                            i {
                                font-size: 20px;
                            }
                        }
                    }
                }
            }
        }
    }
}