.footer {
    .top-footer {
        background-color: #3c4e8e;
        text-align: center;
        padding: 35px 0px;
        img {
            color: white;
            margin-bottom: 15px;
        }
        ul {
            list-style-type: none;
            margin: 0px;
            li {
                display: inline-block;
                margin-right: 10px;
                a {
                    text-decoration: none;
                    i {
                        color: white;
                        font-size: 16px;
                    }
                }
            }
        }
    }
    .bottom-footer {
        background-color: #202020;
        text-align: center;
        padding: 14px 0px;
        p {
            color: #ccc;
        }
    }
}